.news {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 40px auto 90px auto;
    @include mobile{
      margin: 20px auto 40px auto;
    }

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title-block {
    margin: 0 50px 60px 0;
    @include tablet{
      margin: 0 0px 20px 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--black-color);
    margin: 0 0 5px 0;
    @include mobile{
      font-size: 22px;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: 17px;
    color: var(--red-color);
    &:hover {
      text-decoration: underline;
    }
  }

  &__nav {
    position: absolute;
    width: 70px;
    height: 20px;
    top: 17%;
    left: 150px;
    @include tablet {
      top: 15%;
      left: 40%;
    }
    @include small-tablet{
      top: 12%;
      left: 80%;
    }
    @media (max-width: (480px)) {
      top: 14%;
    }
  }
}

.news-slider {
  min-width: 0;
  width: 100%;
  // width: 1221px;
  //height: 244px;

  overflow: hidden;

  &__button::after {
    font-size: 20px;
    color: #c4c4c4;
  }
  &__button:hover {
    &::after {
      color: var(--red-color);
    }
  }
  &__button-next {
    right: 0;
  }
  &__button-prev {
    left: 0;
  }
  &__slide {
    display: flex;
    flex-direction: column;
  }
  &__img {
    margin: 0 0 10px 0;
    img {
      width: 100%;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black-color);
    margin: 0 0 35px 0;
    @include big-desktop {
      margin: 0 0 20px 0;
    }
  }
  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: var(--red-color);

    &::after {
      content: "";
      background-image: url("/img/icons/arrow.svg");
      display: inline-block;
      height: 12px;
      width: 15px;
      margin: 0 0 0 5px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
