<section class="catalog">
  <div class="catalog__container container">
    <h2 class="catalog__title">Каталог</h2>
    <div class="catalog__content">
      <div class="catalog__row">
        <a href="#" class="catalog__block catalog__block-1 block">
          <div class="block__image">
            <picture>
              <source srcset="img/catalog/volball.avif" type="image/avif" />
              <source srcset="img/catalog/volball.webp" type="image/webp" />
              <img loading="lazy" src="img/catalog/volball.png" width="300" height="300" alt="волейбол" />
            </picture>
          </div>
          <h3 class="block__title block__title-1">волейбол</h3>
        </a>
        <div class="catalog__boxblock">
          <div class="catalog__boxblock-row1">
            <a href="#" class="catalog__block catalog__block-2 block">
              <h3 class="block__title">футбол</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/football.avif" type="image/avif" />
                  <source srcset="img/catalog/football.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/football.png" class="image" width="300" height="300"
                    alt="футбол" />
                </picture>
              </div>
            </a>
            <a href="#" class="catalog__block catalog__block-3 block">
              <h3 class="block__title">бег</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/cross.avif" type="image/avif" />
                  <source srcset="img/catalog/cross.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/cross.png" class="image" width="250" height="250" alt="бег" />
                </picture>
              </div>
            </a>
          </div>
          <div class="catalog__boxblock-row2">
            <a href="#" class="catalog__block catalog__block-4 block">
              <h3 class="block__title">хоккей</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/hockey.avif" type="image/avif" />
                  <source srcset="img/catalog/hockey.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/hockey.png" class="image" width="200" height="200"
                    alt="хоккей" />
                </picture>
              </div>
            </a>
            <a href="#" class="catalog__block catalog__block-5 block">
              <h3 class="block__title">баскетбол</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/basket.avif" type="image/avif" />
                  <source srcset="img/catalog/basket.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/basket.png" class="image" width="250" height="250"
                    alt="баскетбол" />
                </picture>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <button class="catalog__btn btn-reset btn-more btn-more-1 ">Показать все</button>
  </div>
</section>
