<section class="catalog">
  <div class="catalog__container container">
    <h2 class="catalog__title">Каталог</h2>
    <div class="catalog__content">
      <div class="catalog__row">
        <a href="#" class="catalog__block catalog__block-1 block">
          <div class="block__image block__image-1">
            <picture>
              <source srcset="img/catalog/vol.webp" type="image/webp" />
              <img loading="lazy" src="img/catalog/vol.png" width="220" height="300" alt="волейбол" />
            </picture>
          </div>
          <h3 class="block__title block__title-1">волейбол</h3>
        </a>
        <div class="catalog__boxblock">
          <div class="catalog__boxblock-row1">
            <a href="#" class="catalog__block catalog__block-2 block">
              <h3 class="block__title">футбол</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/foot.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/foot.png" class="image" width="220" height="300" alt="футбол" />
                </picture>
              </div>
            </a>
            <a href="#" class="catalog__block catalog__block-3 block">
              <h3 class="block__title">бег</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/run.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/run.png" class="image" width="220" height="300" alt="бег" />
                </picture>
              </div>
            </a>
          </div>
          <div class="catalog__boxblock-row2">
            <a href="#" class="catalog__block catalog__block-4 block">
              <h3 class="block__title">хоккей</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/hoc.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/hoc.png" class="image" width="220" height="300" alt="хоккей" />
                </picture>
              </div>
            </a>
            <a href="#" class="catalog__block catalog__block-5 block">
              <h3 class="block__title">баскетбол</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/bas.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/bas.png" class="image" width="220" height="300"
                    alt="баскетбол" />
                </picture>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="catalog__row catalog__row-2">
        <a href="#" class="catalog__block catalog__block-1 block">
          <div class="block__image block__image-1">
            <picture>
              <source srcset="img/catalog/vol.webp" type="image/webp" />
              <img loading="lazy" src="img/catalog/vol.png" width="220" height="300" alt="волейбол" />
            </picture>
          </div>
          <h3 class="block__title block__title-1">Лыжный спорт</h3>
        </a>
        <div class="catalog__boxblock">
          <div class="catalog__boxblock-row1">
            <a href="#" class="catalog__block catalog__block-2 block">
              <h3 class="block__title">Единоборство</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/foot.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/foot.png" class="image" width="220" height="300" alt="футбол" />
                </picture>
              </div>
            </a>
            <a href="#" class="catalog__block catalog__block-3 block">
              <h3 class="block__title">Теннис</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/run.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/run.png" class="image" width="220" height="300" alt="бег" />
                </picture>
              </div>
            </a>
          </div>
          <div class="catalog__boxblock-row2">
            <a href="#" class="catalog__block catalog__block-4 block">
              <h3 class="block__title">Велоспорт</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/hoc.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/hoc.png" class="image" width="220" height="300" alt="хоккей" />
                </picture>
              </div>
            </a>
            <a href="#" class="catalog__block catalog__block-5 block">
              <h3 class="block__title">Тренинг и фитнесс</h3>
              <div class="block__image">
                <picture>
                  <source srcset="img/catalog/bas.webp" type="image/webp" />
                  <img loading="lazy" src="img/catalog/bas.png" class="image" width="220" height="300"
                    alt="баскетбол" />
                </picture>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="catalog__row">
        <div class="catalog__boxblock-row3">
          <a href="#" class="catalog__block catalog__block-6  block">
            <h3 class="block__title">Плавание</h3>
            <div class="block__image">
              <picture>
                <source srcset="img/catalog/foot.webp" type="image/webp" />
                <img loading="lazy" src="img/catalog/foot.png" class="image" width="220" height="300" alt="футбол" />
              </picture>
            </div>
          </a>
          <a href="#" class="catalog__block catalog__block-7 block">
            <h3 class="block__title">Гимнастика</h3>
            <div class="block__image">
              <picture>
                <source srcset="img/catalog/run.webp" type="image/webp" />
                <img loading="lazy" src="img/catalog/run.png" class="image" width="220" height="300" alt="бег" />
              </picture>
            </div>
          </a>
        </div>
      </div>
    </div>
    <button class="catalog__btn catalog__btn-1 btn-reset btn-more ">Показать все</button>
    <button class="catalog__btn catalog__btn-2 btn-reset btn-more none">Свернуть</button>
  </div>
</section>
