<section class="discont">
  <div class="discont__container container">
    <a href="#" class="discont__item discont__item-1">
      <picture>
        <source srcset="img/discont.avif" type="image/avif" />
        <source srcset="img/discont.webp" type="image/webp" />
        <img
          src="img/discont.png"
          class="image"
          width="750"
          height="180"
          alt="дисконтная программа"
        />
      </picture>
    </a>
    <a href="#" class="discont__item">
      <picture>
        <source srcset="img/present.avif" type="image/avif" />
        <source srcset="img/present.webp" type="image/webp" />
        <img
          src="img/present.png"
          class="image"
          width="720"
          height="323"
          alt="подарочная программа"
        />
      </picture>
    </a>
  </div>
</section>
