<section class="hero">
  <div class="hero__delivery delivery">
    <div class="delivery__box">
      <p class="delivery__texttop delivery__text">Бесплатная</p>
      <span class="delivery__textbottom delivery__text">доставка</span>
    </div>

    <p class="delivery__descr">При заказе от 5000 рублей</p>
    <button class="delivery__btn btn-reset btn-hot" aria-label="кнопка добавления в корзину">
      <img src="img/icons/van.svg" alt="иконка доставки" width="29" height="29" />
    </button>
  </div>
  <div class="hero__sidebar sidebar">
    <button class="sidebar__cart sidebar__btn btn-reset">
      <svg width="29" height="29" viewBox="0 0 29 29" fill="none">
        <path
          d="M10.2518 24.6952C10.2518 26.1006 11.3952 27.2439 12.8006 27.2439C14.206 27.2439 15.3493 26.1006 15.3493 24.6952C15.3493 23.2897 14.206 22.1464 12.8006 22.1464C11.3952 22.1464 10.2518 23.2897 10.2518 24.6952ZM12.8006 23.8456C13.269 23.8456 13.6502 24.2267 13.6502 24.6952C13.6502 25.1636 13.269 25.5447 12.8006 25.5447C12.3321 25.5447 11.951 25.1636 11.951 24.6952C11.951 24.2267 12.3321 23.8456 12.8006 23.8456Z" />
        <path
          d="M18.8043 24.6952C18.8043 26.1006 19.9477 27.2439 21.3531 27.2439C22.7585 27.2439 23.9019 26.1006 23.9019 24.6952C23.9019 23.2897 22.7585 22.1464 21.3531 22.1464C19.9477 22.1464 18.8043 23.2897 18.8043 24.6952ZM21.3531 23.8456C21.8216 23.8456 22.2027 24.2267 22.2027 24.6952C22.2027 25.1636 21.8216 25.5447 21.3531 25.5447C20.8846 25.5447 20.5035 25.1636 20.5035 24.6952C20.5035 24.2267 20.8846 23.8456 21.3531 23.8456Z" />
        <path
          d="M28.15 5.15447H6.6448C6.3539 4.13615 6.08282 3.18732 5.84998 2.37233C5.74582 2.00757 5.41238 1.75609 5.03306 1.75609H0.849596C0.380392 1.75609 0 2.13648 0 2.60568C0 3.07489 0.380392 3.45528 0.849596 3.45528H4.39219C5.34226 6.78094 7.56333 14.5549 8.49449 17.814L8.17261 18.4577C7.32442 20.1543 8.55968 22.1464 10.4524 22.1464H24.7516C25.2208 22.1464 25.6012 21.766 25.6012 21.2968C25.6012 20.8276 25.2208 20.4472 24.7516 20.4472H10.4524C9.82048 20.4472 9.41013 19.7824 9.69242 19.2177L9.92725 18.748H24.7516C25.1309 18.748 25.4643 18.4966 25.5685 18.1318L28.9669 6.23748C29.1217 5.69572 28.7146 5.15447 28.15 5.15447ZM24.1107 17.0488H10.0431C9.58016 15.4285 8.28458 10.8941 7.13026 6.85367H27.0237L24.1107 17.0488Z" />
      </svg>
      <div class="sidebar__counter">
        <span>0</span>
      </div>
    </button>
    <button class="sidebar__favorite sidebar__btn btn-reset">
      <svg width="29" height="29" viewBox="0 0 64 64">
        <g>
          <g id="Icon-Heart" transform="translate(178.000000, 230.000000)">
            <path class="st0"
              d="M-146-177.1l-0.8-0.7c-18.2-14.8-23.1-20-23.1-28.5c0-7,5.7-12.6,12.6-12.6     c5.8,0,9.1,3.3,11.3,5.8c2.2-2.5,5.5-5.8,11.3-5.8c7,0,12.6,5.7,12.6,12.6c0,8.5-4.9,13.7-23.1,28.5L-146-177.1L-146-177.1z      M-157.3-216.3c-5.5,0-10,4.5-10,10c0,7.3,4.6,12.1,21.3,25.8c16.7-13.7,21.3-18.5,21.3-25.8c0-5.5-4.5-10-10-10     c-5,0-7.7,3-9.8,5.4l-1.5,1.7l-1.5-1.7C-149.6-213.3-152.3-216.3-157.3-216.3L-157.3-216.3z"
              id="Fill-18" />
          </g>
        </g>
      </svg>
      <div class="sidebar__counter">
        <span>0</span>
      </div>
    </button>
    <button class="sidebar__scale sidebar__btn btn-reset">
      <svg width="29" height="29" stroke-width="1.5" viewBox="0 0 24 24">
        <path d="M3 5H11" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 12H16" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 19H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <div class="sidebar__counter">
        <span>0</span>
      </div>
    </button>
  </div>
  <div class="container hero__container">
    <div class="hero__slider-main main-slider">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="main-slider__slide swiper-slide">
          <div class="main-slider__img">
            <img src="img/slide1.png" alt="кроссовки Nike" />
          </div>
          <div class="main-slider__box">
            <h2 class="main-slider__title">
              <span>Nike</span> Motivation pack
            </h2>
            <p class="main-slider__descr">Готовы к новому сезону</p>
            <button class="main-slider__btn btn-reset">Подробнее</button>
          </div>
        </div>
        <div class="main-slider__slide swiper-slide">
          <div class="main-slider__img">
            <img src="img/slide1.png" alt="кроссовки Nike" />
          </div>
          <div class="main-slider__box">
            <h2 class="main-slider__title">
              <span>Nike2</span> Motivation pack
            </h2>
            <p class="main-slider__descr">Готовы к новому сезону</p>
            <button class="main-slider__btn btn-reset">Подробнее</button>
          </div>
        </div>
        <div class="main-slider__slide swiper-slide">
          <div class="main-slider__img">
            <img src="img/slide1.png" alt="кроссовки Nike" />
          </div>
          <div class="main-slider__box">
            <h2 class="main-slider__title">
              <span>Nike3</span> Motivation pack
            </h2>
            <p class="main-slider__descr">Готовы к новому сезону</p>
            <button class="main-slider__btn btn-reset">Подробнее</button>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="main-slider__pagination swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="main-slider__button-prev main-slider__button swiper-button-prev"></div>
      <div class="main-slider__button-next main-slider__button swiper-button-next"></div>
    </div>
    <div class="hero__slider-sale">
      <div class="hero__slider-sale-banner">
        <img src="img/icons/proc.svg" alt="иконка процента" />
        <p>Максимальная скидка</p>
      </div>
      <div class="sale-slider">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="sale-slider__slide swiper-slide">
            <a href="#" class="sale-slider__img">
              <img src="img/sale1.png" alt="Кеды женские Adidas" width="340" height="231" />
            </a>
            <div class="sale-slider__rating">
              <div class="sale-slider__zvezda">
                <img src="img/icons/starfull.svg" alt="1 звезда" />
                <img src="img/icons/starfull.svg" alt="2 звезда" />
                <img src="img/icons/starfull.svg" alt="3 звезда" />
                <img src="img/icons/starfull.svg" alt="4 звезда" />
                <img src="img/icons/starstroke.svg" alt="5 звезда" />
              </div>
              <p class="sale-slider__available">Есть в наличии: 1</p>
            </div>
            <h4 class="sale-slider__title">Кеды женские Adidas COURT BOLD</h4>
            <div class="sale-slider__price">
              <p class="sale-slider__new">2 495 ₽/пар</p>
              <p class="sale-slider__old">4 990 ₽</p>
            </div>
            <div class="sale-slider__profit">
              <p class="sale-slider__kolproc">-50%</p>
              <p class="sale-slider__descr">Экономия 2 495 ₽</p>
            </div>
          </div>
          <div class="sale-slider__slide swiper-slide">
            <a href="#" class="sale-slider__img">
              <img src="img/sale1.png" alt="Кеды женские Adidas" width="340" height="231" />
            </a>
            <div class="sale-slider__rating">
              <div class="sale-slider__zvezda">
                <img src="img/icons/starfull.svg" alt="1 звезда" />
                <img src="img/icons/starfull.svg" alt="2 звезда" />
                <img src="img/icons/starfull.svg" alt="3 звезда" />
                <img src="img/icons/starfull.svg" alt="4 звезда" />
                <img src="img/icons/starstroke.svg" alt="5 звезда" />
              </div>
              <p class="sale-slider__available">Есть в наличии: 1</p>
            </div>
            <h4 class="sale-slider__title">Кеды женские Adidas COURT BOLD</h4>
            <div class="sale-slider__price">
              <p class="sale-slider__new">2 495 ₽/пар</p>
              <p class="sale-slider__old">4 990 ₽</p>
            </div>
            <div class="sale-slider__profit">
              <p class="sale-slider__kolproc">-50%</p>
              <p class="sale-slider__descr">Экономия 2 495 ₽</p>
            </div>
          </div>
          <div class="sale-slider__slide swiper-slide">
            <a href="#" class="sale-slider__img">
              <img src="img/sale1.png" alt="Кеды женские Adidas" width="340" height="231" />
            </a>
            <div class="sale-slider__rating">
              <div class="sale-slider__zvezda">
                <img src="img/icons/starfull.svg" alt="1 звезда" />
                <img src="img/icons/starfull.svg" alt="2 звезда" />
                <img src="img/icons/starfull.svg" alt="3 звезда" />
                <img src="img/icons/starfull.svg" alt="4 звезда" />
                <img src="img/icons/starstroke.svg" alt="5 звезда" />
              </div>
              <p class="sale-slider__available">Есть в наличии: 1</p>
            </div>
            <h4 class="sale-slider__title">Кеды женские Adidas COURT BOLD</h4>
            <div class="sale-slider__price">
              <p class="sale-slider__new">2 495 ₽/пар</p>
              <p class="sale-slider__old">4 990 ₽</p>
            </div>
            <div class="sale-slider__profit">
              <p class="sale-slider__kolproc">-50%</p>
              <p class="sale-slider__descr">Экономия 2 495 ₽</p>
            </div>
          </div>
        </div>

        <button class="sale-slider__cartbtn btn-reset btn-hot" aria-label="кнопка добавления в корзину">
          <img src="img/icons/cart.svg" alt="корзина" width="29" height="29" />
        </button>
      </div>
      <div class="hero__slider-sale-nav">
        <div class="sale-slider__button-prev sale-slider__button swiper-button-prev"></div>
        <div class="sale-slider__button-next sale-slider__button swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
